.header{
  max-width: 100%;
  height: auto;
  min-height: 93vh;
  background-image: url('./img/back.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  
}

/* @media (min-width: 400px) {
  .header{
    min-height: 100vh;
  }
}
 */
/* @media (min-width: 768px) {
  .header{
    min-height: 100vh;
  }
} */
@media (min-width: 768px) {
    .header{
      background-size: contain;
      min-height: 100vh;
    }
}

.header_names-container{
  position: absolute;
  background-color: rgba(0, 0, 0,.4);
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.header_names{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
.header_names-container-fake{

  height: 20vh;
}
.header_names p{
  line-height: 1;
  color: #fff;
  font-size:50px;
}

.contador{
  margin-top: 50px;
  position: relative;
  z-index: 1;
  
}
.contador_frase{
  margin-top:30px ;
  border-top: solid var(--black) thin;
}
.contador_frase p{
  letter-spacing: 2px;
  font-size: 22px;
}
.contador_imagen img{
  width: 100%;
}

.datos{
  margin-top: -9px;
  height: 100vh;
  background-color: var(--color_principal);
  position: sticky;
  top: 0;
  z-index: 99;
}
.datos_monograma{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.datos_monograma p{
  font-family: var(--cursiva);
  font-size: 70px;
  padding: 0 25px 0 12px;
}
.datos_monograma-a{
  border-right: solid #000 thin;
}